.description {
    color: var(--black-main);
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    margin-bottom: 50px;

}

.description1 {

    color: var(--black-main);
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    margin-top: 94px;
    margin-bottom: 50px;

}