@media screen and (max-width: 768px){
.listcompany{
display: flex;
flex-wrap: wrap;
gap: 20px;
list-style: none;
border-radius: 4px;
flex-basis: calc((100% - 30px) / 2);
transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}}

.listcompany {

    list-style: none;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    margin: 0;
}




.listcompany__icon {
    border: 1px solid var(--borderclientslogo);
    border-radius: 4px;
    width: 170px;
    height: 92px;
    fill: var(--iconcolor);

    transition: border, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

&:hover {
    cursor: pointer;
    fill: var(--main-blue);
    border: 1px solid var(--main-blue);

}}




.clients {
    padding-top: 94px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.headerclients {

    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--colorclientsheader);
    margin: 0;
    padding-bottom: 50px;
}