

.loremlist {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    text-decoration: none;
    display: flex;
    gap: 30px;
    margin-bottom:0;
    padding: 0px;
}

.ipsum-style {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    max-width: 1200px;
    margin-bottom: 10px;
    margin-top: 94px;
    gap: 30px;
}

.loremlist__heading {
    color: var(--black-main);
    font-size: 14px;
    line-height: 1.14;
    padding-bottom: 10px;
}

.loremlist__text {
    color: var(--main-silver);
    font-size: 14px;
    line-height: 1.71;
}


.loremlist__icon {

    background-color: var(--back-icons);
    border-radius: 4px;
    height: 120px;
    width: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    transition: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

&:hover {

    cursor: pointer;
    border: 1px solid var(--main-blue);

}}

@media screen and (min-width: 768px)and (max-width: 1199px) {
    .loremlist {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 0;
        
    }
    .loremlist__element {
      width: 354px;
      margin: 0;
      padding: 0;
    }
.section1{
    margin-bottom:  60px;
}}

    @media screen and (min-width: 768px){
    .loremlist__element {

        flex-basis: calc((100% - 30px)/2);}

    }
    @media screen and (min-width: 1200px) {
        .loremlist {
          flex-wrap: nowrap;
          gap: 30px;
        }
}
