.modal {
    width: 528px;
    height: 581px;
    background: #FFFFFF;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    margin: auto;
}

.modal-btn {
    cursor: pointer;
}

.modal-btn {
    position: fixed;
    cursor: pointer;
    width: 30px;
    height: 30px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    margin: 8px 8px 543px 490px;
}