.container {
    max-width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    max-width: 1200px;
}
.container1 {
    max-width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    max-width: 1200px;
}

  @media screen and (min-width: 1200px) {
    .container {
      max-width: 1200px;
      margin:0px auto;
    }
  }
  
.section {
    padding-top: 94px;
    padding-bottom: 94px;
    
}
.section_description{
    padding-top: 94px;
    padding-bottom: 94px;
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
    .section_description {
      display: none;}
    }


.button-all {
    background-color: var(--main-blue);
    color: var(--main-white);
    font-family: inherit;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    cursor: pointer;

}
.buton:active {
    color: #FFFFFF;
    background-color: #2196F3;
}
.section1 {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
    padding-bottom: 200px;
    margin: 0 auto;

}

.wrapper {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.navigation {
    display: flex;
    align-items: center;
    height: 80px;

}
.navigation {
    border-bottom: 1px solid;
    border-bottom-color: var(--border-karta);
}



.backgroundorder {
    background-color: var(--background-grey);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/17.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
@media screen and (min-width: 320px) {
    .backgroundorder {
      background-image: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
          ),
          url(../mobile.img.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 400px;
    }
  }
  @media screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
  screen and (min-resolution: 192dpi) and (min-width: 320px),
  screen and (min-resolution: 2dppx) and (min-width: 320px) {
    .backgroundorder {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/mobileimg@2x.jpg);
    }
  }
  @media screen and (min-width: 768px) {
    .backgroundorder {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/tabletimg.jpg);
    }
  }
  @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
    .backgroundorder {
        background-image: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
          ),
          url(../images/tabletimg@2x.jpg);
    }
  }
  @media screen and (min-width: 1200px) {
    .backgroundorder {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/descopimg.jpg);
        height: 600px;
    }
    .intro__title {
      font-size: 44px;
      line-height: 1.36;
    }
  }
  @media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
  screen and (min-resolution: 192dpi) and (min-width: 1200px),
  screen and (min-resolution: 2dppx) and (min-width: 1200px) {
    .backgroundorder{
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/descop@2x.jpg);
    }
  }








/*
@media screen and (max-width: 768px) {
    .backgroundorder {
        background-color: var(--background-grey);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/mobilimg.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 40px;
   
    }}

   
    @media screen and (min-width: 768px) {
        .backgroundorder {
            background-color: var(--background-grey);
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../images/tabletimg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        
        }}*/