.container {
    max-width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    max-width: 1200px;
}
@media screen and (min-width: 480px) {
    .container {
      max-width: 480px;
    }
  }
  @media screen and (min-width: 768px) {
    .container {
      max-width: 768px;
      margin:0px auto;
    }
  }
  @media screen and (min-width: 1200px) {
    .container {
      max-width: 1200px;
      margin:0px auto;
    }
  }
  
.section {
    padding-top: 94px;
    padding-bottom: 94px;
    
}
.section_description{
    padding-top: 94px;
    padding-bottom: 94px;
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
    .section_description {
      display: none;}
    }


.button-all {
    background-color: var(--main-blue);
    color: var(--main-white);
    font-family: inherit;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    cursor: pointer;

}
.buton:active {
    color: #FFFFFF;
    background-color: #2196F3;
}
.section1 {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
    padding-bottom: 200px;
    margin: 0 auto;
}

.wrapper {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.navigation {
    display: flex;
    align-items: center;
    height: 80px;

}
.navigation {
    border-bottom: 1px solid;
    border-bottom-color: var(--border-karta);
}



.backgroundorder {
    background-color: var(--background-grey);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/17.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;

}

@media screen and (max-width: 768px) {
    .backgroundorder {
        background-color: var(--background-grey);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/mobilimg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 480px;
    margin-bottom: 40px;
    position: absolute;
    }}
    @media screen and (min-width: 768px) {
        .backgroundorder {
            background-color: var(--background-grey);
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../images/tabletimg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        margin-bottom: 40px;
        position: relative;
        }}